/* soy un comentario*/
/*alinear los elementos de la pagina text align sirve para centrar los elementos*/
body{
text-align:center;
}
.cuadrado-color{
  /*background-color: blue;color en ingles*/
  /*background-color:#0040FF; color hexadecimal*/
  background-color:rgb(86,102,161);
  padding-bottom:20px; /*dar espacio*/
}
p{
  color:#0040FF;
}
/*cambiar Tipografia*/
h1{
  font-family: 'Berkshire Swash';
}
p{
  font-family: 'Marck Script';
}
img{
  width: 400px; /*ancho de imagen*/
  height: 280px;/*alto de imagen*/
}
.foto-grupo{
  width: 400px;
  height: 400px;
}
/*hacer elseparador*/
.enlaces{
  border-top:1px dashed blue;
  /*buscar tipos de bordes en css*/
}
